# Day 6 Assignment

## Question 1 :

### Assuming that we have some email addresses in the "username@companyname.com" format, please write a program to print the company name of a given email address. Both user names and company names are composed of letters only.  
Input Format:  The first line of the input contains an email address.

Output Format: Print the company name in a single line.

Example;
Input:
john@google.com

Output:
google.

In [18]:
def give_company(emailId):
    s1=emailId.split('@')
    s2=str(s1[1].split('.')[:1]).strip('[]').strip("''")
    print("Company name is:: ",s2)

In [19]:
emailId=input("Enter a email address like(username@companyname.com):: ")
give_company(emailId)

Enter a email address like(username@companyname.com):: rohit@facebook.com
Company name is::  facebook

## Question 2 :
### Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

Example:
Input:
without,hello,bag,world

Output:
bag,hello,without,world

In [3]:
words=input("Enter words using coma:: ")
words=[w for w in words.split(',')]
words.sort()
print("Alphabetically sorted words are:: ",(','.join(words)))

Enter words using coma:: ziya,diya,piya,ana
Alphabetically sorted words are::  ana,diya,piya,ziya

## Question 3:
### Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

# Sets

Sets are written with curly brackets.

In [4]:
s={'OOP','JAVA','PYTHON'}
print(s)

{'OOP', 'JAVA', 'PYTHON'}

In [5]:
#using loop set items are printed
for i in s:
    print(i)

OOP
JAVA
PYTHON

In [6]:
#particular item present in the set or not
print('PYTHON' in s)

True

#### NOTE: You can not chnage the item of set but you can able add new iteams.

### SET methods:

add(): this method adds one item to a set. 

update(): this method add more than one item to a set.

len(): this methods shows how many items a set has.

remove(): this method remove an item in a set. 
          If the item u want to remove is not present in a set then it will give the error.

discard(): this method also remove an item in a set. 
           But If the item u want to remove is not present in a set then it will not give the error.

pop(): it removes the last item in a set.

clear(): it empties the set.

del(): it deletes the set completely.

### Examples:-

In [7]:
s={'OOP','JAVA','PYTHON'}
print("set is:: ",s)
print("-------------------------------------------------------------------------------------------------")
#add method
s.add('C')
print("\nafter adding an item:: ",s)

#update method
s.update(["ASP.NET","VB.NET","ANDROID"])
print("\nadding more than one items:: ",s)

#len method
print("\nLength of the set is:: ",len(s))

#remove method
s.remove("VB.NET")
print("\nRemoving one item:: ",s)

#discard method
s.discard("C")
print("\nRemoving one item using discard method:: ",s)

#pop method
s.pop()
print("\nRemoving the item using pop method:: ",s)

#clear method
s.clear()
print("\nClear a set:: ",s)

#del method
del s

set is::  {'OOP', 'JAVA', 'PYTHON'}
-------------------------------------------------------------------------------------------------

after adding an item::  {'OOP', 'JAVA', 'PYTHON', 'C'}

adding more than one items::  {'VB.NET', 'ASP.NET', 'ANDROID', 'JAVA', 'C', 'OOP', 'PYTHON'}

Length of the set is::  7

Removing one item::  {'ASP.NET', 'ANDROID', 'JAVA', 'C', 'OOP', 'PYTHON'}

Removing one item using discard method::  {'ASP.NET', 'ANDROID', 'JAVA', 'OOP', 'PYTHON'}

Removing the item using pop method::  {'ANDROID', 'JAVA', 'OOP', 'PYTHON'}

Clear a set::  set()

### other SET methods:


union():  it returns a new set with all items from both sets.

update(): it inserts the items in set2 into set1.

NOTE: Both union() and update() will exclude any duplicate items.

In [8]:
#examples:-

#union() method
set1 = {"x", "y" , "z"}
set2 = {1, 2, 3}
print("set1:: ",set1)
print("set2:: ",set2)

set3 = set1.union(set2)
print("both set items are included in a new set(set3):: ",set3)

#update() method
set1 = {"x", "y" , "z"}
set2 = {1, 2, 3}
print("\nset1:: ",set1)
print("set2:: ",set2)
print("After inserting set2 item into set1: ")

set1.update(set2)
print("set1:: ",set1)

set1::  {'x', 'z', 'y'}
set2::  {1, 2, 3}
both set items are included in a new set(set3)::  {1, 2, 'z', 3, 'y', 'x'}

set1::  {'x', 'z', 'y'}
set2::  {1, 2, 3}
After inserting set2 item into set1:
set1::  {1, 2, 'z', 3, 'y', 'x'}

### set() constructor

In [9]:
#creating a set, using set() constructor,

s1 = set(("apple", "banana", "cherry")) # note the double round-brackets
print(s1)

{'banana', 'cherry', 'apple'}

## Question 4:
### Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.

Output Format:
Print the missing number

Example:
Input:
1 2 4 6 3 7 8

Output:
5

Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [10]:
num_lst=[2,3,1,6,8,9]
n=max(num_lst)
n=n+1

print("list of numbers are : ",str(num_lst).replace(',',' ').strip('[]'))
total_list=[i for i in range(1,n)]

print("\nBelow number are missing in the list: ")

for n in total_list:
    if n not in num_lst:
        print(n,end=' ')

list of numbers are :  2  3  1  6  8  9

Below number are missing in the list:
4 5 7

## Question 5:
### With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:
If the input list is
12 24 35 24 88 120 155 88 120 155

Then the output should be
12 24 35 88 120 155

Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.

Example:
Input:
12 24 35 24

Output:
12 24 35

In [11]:
lst=[11,21,21,11,61]
print("List of numbers : ",str(lst).replace(',',' ').strip('[]'))

lst.sort()

final_lst=[]
for num in lst:
    if num not in final_lst:
        final_lst.append(num)
print("\nAfter removing duplicate number the list is : ",str(final_lst).replace(',',' ').strip('[]'))

List of numbers :  11  21  21  11  61

After removing duplicate number the list is :  11  21  61